@import "tailwindcss";

@theme {
  --font-primary: "Orbitron", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-body: "Poppins", sans-serif;

  --color-primary: #693fbc;
}

@layer base {
  * {
    @apply text-center
  }
}