@import "tailwindcss";
@config "../../tailwind.config.ts";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
  --font-primary: "Orbitron", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-background: #1a1a1a;
  --color-primary: #693fbc;

  --color-white: #ffffff;
  --color-white-bg: #656565;
  --color-red: #e32225;
  --color-red-bg: #780602;
  --color-cyan: #03ced3;
  --color-cyan-bg: #005f66;
  --color-purple: #693fbc;
  --color-purple-bg: #3f0971;
  --color-orange: #f18e17;
  --color-orange-bg: #7a4700;
  --color-green: #00cc58;
  --color-green-bg: #04770b;
  --color-blue: #0e70b7;
  --color-blue-bg: #01132b;
  --color-pink: #9d1561;
  --color-pink-bg: #2f0012;
  --color-yellow: #f5d000;
  --color-yellow-bg: #a38b00;
  --color-blue-bg: #033577;
  --color-pink: #e74ba3;
  --color-pink-bg: #660027;

  --animate-fade-in: fade-in 1s ease-in-out forwards;
  --animate-fade-in-and-out: fade-in-and-out 3s ease-in-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-in-and-out {
    0% {
      opacity: 0;
    }

    40% {
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

@layer base {
  body {
    @apply bg-background font-body;
  }
}

@layer utilities {
  .grid-right {
    direction: rtl;
  }
}
