---
import Display from "../components/Display.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import Apex from "../assets/apex.svg";
---

<Layout>
	<Display>
		<div slot="text" class="w-screen">
			<Apex class="w-full h-auto" />
		</div>
	</Display>
</Layout>
