---
import Header from "./Header.astro";

//TODO: Find better name for this component
interface Props {
  image?: string;
}

const { image } = Astro.props as Props;
---

<div class="relative h-[50%] w-full sm:h-screen">
  {
    image && (
      <div
        class="absolute inset-0 mask-t-from-85% mask-b-from-50% mask-b-to-95% bg-cover bg-fixed bg-center bg-no-repeat"
        style={`background-image: url('${image}')`}
      />
    )
  }
  <div class="absolute top-0 left-0 z-30 w-full">
    <Header />
  </div>
  <div
    class="absolute inset-x-0 bottom-[50%] left-[50%] z-20 w-max translate-x-[-50%] sm:bottom-0 sm:left-0 sm:translate-x-0"
  >
    <slot name="text" />
  </div>
  <div class="absolute inset-0 z-20">
    <slot name="background" />
  </div>
  <slot name="other" />
</div>
