---
import Header from "./Header.astro";

//TODO: Find better name for this component
interface Props {
	image?: string;
}

const { image } = Astro.props as Props;
---

<div
	class={`relative h-screen w-full ${image ? `bg-cover bg-center bg-no-repeat bg-fixed bg-[url("${image}")]` : ""}`}
>
	<div class="absolute top-0 left-0 w-full z-20">
		<Header />
	</div>
	<div class="absolute inset-0 bg-black/50 z-10"></div>
	<div class="absolute bottom-0 left-0 z-20">
		<slot name="text" />
	</div>
	<div class="absolute inset-0 z-0">
		<slot name="background" />
	</div>
</div>
