---
import Sponsors from "./Sponsors.astro";

import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = Astro.currentLocale || "it";
---

<footer class="flex flex-col gap-12 px-4 py-8 sm:px-8">
  <Sponsors />
  <div class="h-[1px] w-full bg-white"></div>
  <div class="flex flex-col items-center gap-12 text-white">
    <div
      class="font-primary flex flex-col items-center justify-center gap-8 text-sm uppercase sm:text-base md:flex-row"
    >
      {
        [
          {
            text: currentLocale === "en" ? "Back To Home" : "Torna alla Home",
            href: getRelativeLocaleUrl(currentLocale),
          },
          {
            text: currentLocale === "en" ? "Our Car" : "La nostra auto",
            href: getRelativeLocaleUrl(currentLocale, "our-car"),
          },
          { text: "Team", href: getRelativeLocaleUrl(currentLocale, "team") },
          {
            text: "Blog",
            href: getRelativeLocaleUrl(currentLocale, "blog"),
          },
          {
            text: currentLocale === "en" ? "Join Us" : "Unisciti a noi",
            href: getRelativeLocaleUrl(currentLocale, "team#join-us"),
          },
          { text: "Unipa", href: "https://unipa.it" },
          {
            text: currentLocale === "en" ? "Contacts" : "Contatti",
            href: getRelativeLocaleUrl(currentLocale, "contacts"),
          },
        ].map((item) => (
          <a class="text-center hover:underline" href={item.href}>
            {item.text}
          </a>
        ))
      }
    </div>
    <p class="font-primary text-center text-sm uppercase sm:text-base">
      Apex Corse
    </p>
  </div>
</footer>
