---
import { Image } from "astro:assets";
import logo from "../assets/logo-header.png";
const currentPath = Astro.url.pathname;
---

<div
	class={`flex justify-between items-center px-4 md:px-8 lg:px-16 xl:px-48 py-4 ${currentPath === "/" ? "bg-transparent" : "bg-black"}`}
>
	<a href="/">
		<Image src={logo} alt="Apex Corse" width={150} />
	</a>
	<div class="items-center gap-8 hidden md:flex text-white font-primary">
		{
			[
				{ label: "Home", href: "/" },
				{ label: "Il team", href: "/team" },
				{ label: "Unisciti al team", href: "/join-team" },
				{ label: "I nostri partner", href: "/partners" },
				{ label: "Contattaci", href: "/contact" },
			].map((item) => (
				<a
					href={item.href}
					class={`hover:text-gray-300 ${currentPath === item.href ? "underline" : ""}`}
				>
					{item.label}
				</a>
			))
		}
	</div>
</div>
