---
import LogoColored from "../assets/small-colored-logo.svg";
import Logo from "../assets/small-white-logo.svg";
import Drawer from "./react/Drawer";
---

<div
  class="flex items-center justify-between px-8 py-8 transition-normal duration-75 md:px-16"
>
  <a href="/" class="group">
    <Logo class="h-auto w-8 group-hover:hidden md:w-14" />
    <LogoColored class="hidden h-auto w-8 group-hover:block md:w-14" />
  </a>
  <div class="hidden items-center gap-16 font-normal md:flex">
    <div class="flex items-center gap-8">
      {
        [
          { label: "Team", href: "/team/" },
          { label: "Contacts", href: "/contacts/" },
        ].map((item) => (
          <a
            href={item.href}
            class="font-primary text-white decoration-2 underline-offset-8 hover:underline"
          >
            {item.label}
          </a>
        ))
      }
    </div>
    <div class="flex items-center gap-4">
      {
        [
          { label: "En", href: "#" },
          { label: "It", href: "#" },
        ].map((item) => (
          <a
            href={item.href}
            class="font-primary text-white uppercase decoration-2 underline-offset-8 hover:underline"
          >
            {item.label}
          </a>
        ))
      }
    </div>
  </div>
  <Drawer client:load />
</div>
