---
import LogoColored from "../assets/small-colored-logo.svg";
import Logo from "../assets/small-white-logo.svg";
import Drawer from "./react/Drawer";
---

<div class="flex items-center justify-between px-8 md:px-16 py-8 transition-normal duration-75">
	<a href="/" class="group">
		<Logo class="group-hover:hidden" />
		<LogoColored class="hidden group-hover:block" />
	</a>
	<div class="items-center gap-16 font-normal hidden md:flex">
		<div class="flex items-center gap-8 text-white font-primary">
			<a href="/garage/">Garage</a>
			<a href="/team/">Team</a>
			<a href="/sponsors/">Sponsors</a>
			<a href="/contacts/">Contacts</a>
		</div>
		<div class="flex items-center gap-4 text-white font-primary uppercase">
			<a href="#">En</a>
			<a href="#">It</a>
		</div>
	</div>
	<Drawer client:load />
</div>
