---
import LogoColored from "../assets/small-colored-logo.svg";
import Logo from "../assets/small-white-logo.svg";
import Drawer from "./react/Drawer";
---

<div
	class="flex items-center justify-between px-8 md:px-16 py-8 transition-normal duration-75"
>
	<a href="/" class="group">
		<Logo class="group-hover:hidden w-8 h-auto md:w-fit" />
		<LogoColored class="hidden group-hover:block w-8 h-auto md:w-fit" />
	</a>
	<div class="items-center gap-16 font-normal hidden md:flex">
		<div class="flex items-center gap-8">
			{[
				{ label: "Garage", href: "/garage/" },
				{ label: "Team", href: "/team/" },
				{ label: "Sponsors", href: "/sponsors/" },
				{ label: "Contacts", href: "/contacts/" },
			].map((item) => (
				<a href={item.href} class="text-white font-primary hover:underline underline-offset-8 decoration-purple decoration-2">{item.label}</a>
			))}
		</div>
		<div class="flex items-center gap-4">
			{[
				{ label: "En", href: "#" },
				{ label: "It", href: "#" },
			].map((item) => (
				<a href={item.href} class="text-white font-primary uppercase hover:underline underline-offset-8 decoration-purple decoration-2">{item.label}</a>
			))}
		</div>
	</div>
	<Drawer client:load />
</div>
