---
import LogoColored from "../assets/small-colored-logo.svg";
import Logo from "../assets/small-white-logo.svg";
import Drawer from "./react/Drawer";

const { pathname } = Astro.url;
---

<div
	class="flex items-center justify-between px-8 md:px-16 py-8 transition-normal duration-75"
>
	<a href="/" class="group">
		<Logo class="group-hover:hidden w-8 h-auto md:w-fit" />
		<LogoColored class="hidden group-hover:block w-8 h-auto md:w-fit" />
	</a>
	<div class="items-center gap-16 font-normal hidden md:flex">
		<div class="flex items-center gap-8 text-white font-primary">
			<a href="/garage/" class={`${pathname === "/garage/" ? "text-red" : ""}`}>Garage</a>
			<a href="/team/" class={`${pathname === "/team/" ? "text-cyan" : ""}`}>Team</a>
			<a href="/sponsors/" class={`${pathname === "/sponsors/" ? "text-purple" : ""}`}>Sponsors</a>
			<a href="/contacts/" class={`${pathname === "/contacts/" ? "text-orange" : ""}`}>Contacts</a>
		</div>
		<div class="flex items-center gap-4 text-white font-primary uppercase">
			<a href="#">En</a>
			<a href="#">It</a>
		</div>
	</div>
	<Drawer client:load />
</div>
