---
import Logo from "../assets/small-white-logo.svg";
---

<div class="flex items-center justify-between px-16 py-8">
	<a href="">
		<Logo />
	</a>
	<div class="flex items-center gap-16">
		<div class="flex items-center gap-8 text-white font-primary">
			<a href="#">Garage</a>
			<a href="#">Team</a>
			<a href="#">Sponsors</a>
			<a href="#">Contacts</a>
		</div>
		<div class="flex items-center gap-4 text-white font-primary uppercase">
			<a href="#">En</a>
			<a href="#">It</a>
		</div>
	</div>
</div>
