---
interface Props {
  image?: string;
  text: string;
}
const { text, image } = Astro.props as Props;
import Display from "./Display.astro";
---

<Display image={image}>
  <h1
    slot="text"
    class="font-primary overflow-clip text-4xl leading-tight font-bold text-white uppercase sm:text-6xl sm:text-white/50 md:text-8xl lg:text-[196px] text-center"
  >
    {text}
  </h1>
  <slot name="background" slot="background" />
</Display>
