---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { cn } from "@/lib/utils/cn";
import "@/styles/globals.css";
import Layout from "./Layout.astro";
---

<Layout>
  <Header />
  <div class="my-32 flex w-full justify-center px-4 md:px-12">
    <div
      class={cn(
        "prose prose-dark prose-headings:font-medium prose-headings:font-primary prose-h1:uppercase max-w-3xl prose-p:md:text-lg/8 prose-li:md:text-lg",
      )}
    >
      <slot />
    </div>
  </div>
  <Footer />
</Layout>
