---
import Footer from "@/components/Footer.astro";
import TextDisplay from "@/components/TextDisplay.astro";
import Layout from "@/layouts/Layout.astro";

import track from "@/assets/track.png";
import ArticleCard from "@/components/blog/ArticleCard.astro";
import { getCollection } from "astro:content";

const blog = await getCollection("blogEn");
---

<Layout title="Blog • Apex Corse">
	<TextDisplay text="Blog" image={track.src} />
	<div class="my-16 flex flex-col gap-16 px-4 md:my-32 md:px-8">
		{blog.map((article) => <ArticleCard article={article} />)}
	</div>
	<Footer />
</Layout>
